<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="@Url.Content("~/Content/images/favicon.png")" />
    <link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/style.css")" type="text/css" />
    <link href="@Url.Content("~/Content/css/font-awesome.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/PopUp/PopUpStyle.css")" rel="stylesheet" type="text/css" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-72566421-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="row nav-row">
                <div class="navbar-header">
                    <div class="mobile-logo"><a href="#"><img src="~/Content/images/logo.png" /></a></div>
                    <button type="button" class="navbar-toggle menu-button" data-toggle="collapse" data-target="#myNavbar"> <span class="fa fa-bars"></span> </button>
                </div>

                <div class="col-md-12 menus-div">
                    <nav class="collapse navbar-collapse nav-custom" id="myNavbar" role="navigation">
                        <ul class="nav navbar-nav navbar-left menu">
                            <li><a href="/Home/Index" class="page-scroll active">Home</a></li>
                            <li><a href="/Home/#services" class="page-scroll">services</a></li>
                            <li><a href="/Home/#aboutus" class="page-scroll">about </a></li>
                            <li><a href="/Home/#contactus" class="page-scroll">contact us</a></li>
                        </ul>
                        <ul class="logo-div-center">
                            <li class="logo-div">
                                <a class="navbar-brand logo" href="#"><img src="~/Content/images/logo.png" /></a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right menu">                               
                                @Html.Action("Header", "Home")
                        </ul>
                       
                    </nav>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()
    
    <div id="popup" class="mainPopBg" style="display: none;">
        @*<span class="button b-close" id="btnclosepopup"><span id="spnclosepopup">X</span></span>*@
        <div id="msg" style="padding-top: 5px;">
        </div>
    </div>

    <div class="container-fluid footer">
        <div class="col-sm-12">
            <div class="col-md-6">
                <p style="text-align:left !Important">
                    Servizee.com © 2016 All rights reserved.
                </p>
            </div>
            <div class="col-md-6">
                <p style="text-align:right !Important; font-size:12px">
                    Powered by: <a href="http://www.cruzata.com" target="_blank" style="color:#fff !Important">Cruzata Technologies</a>
                </p>
            </div>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="@Url.Content("~/Scripts/js/jquery.min.js")"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="@Url.Content("~/Scripts/js/bootstrap.min.js")"></script>

    <script src="../../Content/PopUp/scripting.min.js" type="text/javascript"></script>
    <script src="../../Content/PopUp/jquery.bpopup-0.9.4.min.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on("scroll", onScroll);

            $('a[href^="#"]').on('click', function (e) {
                e.preventDefault();
                $(document).off("scroll");

                $('a').each(function () {
                    $(this).removeClass('active');
                })
                $(this).addClass('active');

                var target = this.hash;
                $target = $(target);
                $('html, body').stop().animate({
                    'scrollTop': $target.offset().top
                }, 500, 'swing', function () {
                    window.location.hash = target;
                    $(document).on("scroll", onScroll);
                });
            });
        });

        function onScroll(event) {
            var scrollPosition = $(document).scrollTop();
            $('nav a').each(function () {
                var currentLink = $(this);
                var refElement = $(currentLink.attr("href"));
                if (refElement.position().top <= scrollPosition && refElement.position().top + refElement.height() > scrollPosition) {
                    $('nav ul li a').removeClass("active");
                    currentLink.addClass("active");
                }
                else {
                    currentLink.removeClass("active");
                }
            });
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.post('@Url.Action("ServicesLookup", "Home")', {},
                    function (fooList) {
                        $('#lstServices').empty();
                        $.each(fooList, function (i, foo) {
                            //$('#MonthYear').append($("<option />").val(this.Value).text(this.Value));
                            $('#lstServices').append('<option value="' + this.Value + '">' + this.Text + '</option');
                        });
                    });
        });
    </script>
</body>
</html>
